#show-rest {
    #guest-show {
        height: calc(100vh - 100px);
        background-color: #fcf7ed;
        .banner {
            height: 250px;
            width: 100%;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 180%;
                filter: blur(5px);
            }
            .banner-layer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.4);
                .container-banner {
                    width: 90%;
                    margin: 0 auto;
                    .rest-title {
                        position: absolute;
                        bottom: 0px;
                        h1 {
                            color: #fff;
                            font-size: 100px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .container-show {
            width: 90%;
            margin: 0 auto;
            .rest-contacts {
                padding-top: 15px;
                padding-bottom: 30px;
                p {
                    font-size: 20px;
                    font-weight: bold;
                    font-style: oblique;
                    text-transform: capitalize;
                    color: #0f462d;
                }
                .span-cont {
                    margin-top: 35px;
                    span {
                        text-transform: capitalize;
                        font-size: 25px;
                    }
                }
            }
            .menu {
                margin-top: 30px;
                font-weight: bold;
                color: #0f462d;
            }
            .menu-wrapper {
                flex-wrap: wrap;
                margin: 0 -15px;
                .menu-card {
                    background-color: #fff;
                    width: calc(100% / 3 - 30px);
                    margin: 15px 15px;
                    height: 220px;
                    transition: border-color 0.1s;
                    border: 1px solid lightgrey;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                    border-radius: 8px;
                    &.disabled {
                        background-color: lightgrey;
                        border: 1px solid grey;
                        &:hover {
                            border: 1px solid grey;
                        }
                        .menu-card-r {
                            img {
                                filter: grayscale(100%);
                            }
                        }
                    }
                    .menu-card-l {
                        width: 65%;
                        padding: 10px;
                        position: relative;
                        .menu-title {
                            h4 {
                                font-size: 30px;
                                text-transform: capitalize;
                                font-weight: bold;
                            }
                        }
                        .menu-ingredients {
                            font-size: 20px;
                        }
                        .card-cmd {
                            width: 100%;
                            position: absolute;
                            bottom: 5px;
                            justify-content: space-between;
                            align-items: center;
                            .left {
                                p {
                                    font-weight: bold;
                                    font-size: 20px;
                                }
                            }
                            .right {
                                align-items: center;
                                margin-right: 30px;
                                a {
                                    padding: 4px 10px;
                                    background-color: lightcoral;
                                    border-radius: 4px;
                                    color: #fff;
                                }
                                a:hover {
                                    color: #000;
                                }
                                form {
                                    margin-left: 10px;
                                    input.btn-delete {
                                        padding: 8px 10px;
                                        background-color: lightcoral;
                                        border-radius: 4px;
                                        color: #fff;
                                    }
                                    input.btn-delete:hover {
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                    .menu-card-r {
                        width: 35%;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 0 8px 8px 0;
                        }
                    }
                    &:hover {
                        border-color: teal;
                    }
                }
                .menu-card.disabled {
                    .card-cmd {
                        p {
                            font-weight: bold;
                            font-size: 20px;
                        }
                        .edit-delete {
                            a {
                            }
                        }
                        form {
                            input {
                                padding: 8px 10px;
                                background-color: lightcoral;
                                border-radius: 4px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .menu-cmd.flex {
            margin-top: 35px;
            justify-content: center;
            padding-bottom: 35px;
            .btn.btn.add-food {
                padding: 15px 15px;
                background-color: #06c167;
                font-weight: 800;
                transition: background-color 0.4s;
                margin-right: 15px;
                color: #fff;
            }
            .btn.btn.add-food:hover {
                background-color: #02e175;
            }
            .btn.back {
                padding: 15px 15px;
                background-color: #f9a723;
                font-weight: 800;
                transition: background-color 0.4s;
                margin-right: 15px;
                a {
                    color: #fff;
                }
            }
            .btn.back:hover {
                background-color: #ffc76d;
            }
        }
    }
}

.menu-wrapper::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }

.menu-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(220, 220, 220, 0.1); /* color of the tracking area */
  }

 .menu-wrapper::-webkit-scrollbar-thumb {
    background: #addec9;/* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }

  @media all and (max-width: 1300px) {
    #show-rest .container-show .content .w50.rig img {
        width: 100%;
    }

    #show-rest #guest-show .container-show .menu-wrapper .menu-card {
        width: calc(100% / 2 - 30px);
    }
  }

@media all and (max-width: 768px) {
    #show-rest .container-show .content {
        flex-wrap: wrap;
    }

    #show-rest .container-show .content .w50 {
        width: 100%;
    }

    #show-rest {
        height: fit-content;
    }

    #show-rest .container-show .content .w50.lef .menu-wrapper {
        height: 77%;
    }

    #show-rest #guest-show .container-show .menu-wrapper .menu-card {
        width: calc(100% / 1 - 30px);
    }
}

@media all and (max-width: 567px) {
    #show-rest .container-show .content .w50 {
        padding: 15px;
    }

    #show-rest .container-show .content .w50.lef .menu-wrapper {
        height: 65%;
    }

    #show-rest .container-show .content .w50.rig .menu-cmd .add-food .add-menu {
        padding: 7px 7px;
        font-size: 12px;
        margin-right: 5px
    }

    #show-rest .container-show .content .w50.rig .menu-cmd .back {
        padding: 7px 7px;
        font-size: 12px;
    }

    #show-rest .container-show .content .w50.rig .menu-cmd {
        bottom: 10px;
        right: 10px;
    }
}
