.restaurants {
    padding-top: 70px;
    padding-bottom: 50px;
    .row-rest {
        position: relative;
        z-index: 3;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .card-link {
            width: calc(100% / 4 - 40px);
            margin: 15px 20px;
            .restaurant-card {
                border-radius: 8px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                background-color: #fff;
                border: 1px solid lightgrey;
                padding: 5px;
                transition: border-color 0.4s;
                .rest-img {
                    border: 1px solid lightgray;
                    height: 200px;
                    overflow: hidden;
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                    }
                }
                .rest-name {
                    text-align: left;
                    h2 {
                        color: teal;
                        font-weight: 600;
                    }
                }
                &:hover {
                    border-color: teal;
                }             
            }    
        }
    }
}
